.hero {
  height: 100vh;
  background: linear-gradient(180deg, #fde1ff, #e1ffea22 60%);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 5%;
  box-sizing: border-box;
}

.hero-left {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.hero-left h2 {
  color: #090909;
   font-size: 26px; 
   font-weight: 600;
}

.hero-hand-icon {
  display: flex;
  align-items: center;
  gap: 15px;
}

.hero-hand-icon p {
  color: #171717;
  font-size: 75px;
  font-weight: 700;
  margin: 0;
}

.hero-hand-icon img {
  width: 100px;
  height: auto;
}

.hero-left .hero-main-text {
  font-size: 75px;
  font-weight: 700;
  line-height: 1.1;
  margin: 0;
  color: #090909;
}

.hero-latest-btn {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  width: 250px;
  height: 60px;
  border-radius: 75px;
  margin-top: 30px;
  background: #ff4141;
  color: white;
  font-size: 20px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.hero-latest-btn:hover {
  transform: translateY(-3px);
  background: #e53636;
}

.hero-right {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-right img {
  max-width: 100%;
  height: auto;
}
