.descriptionbox {
    margin: 120px 170px;
}

.descriptionbox-navigator {
    display: flex;
}

.descriptionbox-nav-box {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    width: 171px;
    height: 70px;
    border: 1px solid #d0d0d0;
}

/* Styling the 'Reviews' tab to look inactive */
.descriptionbox-nav-box.fade {
    background: #FBFBFB;
    color: #555;
}

.descriptionbox-description {
    display: flex;
    flex-direction: column;
    gap: 25px;
    border: 1px solid #d0d0d0;
    padding: 48px;
    padding-bottom: 70px;
}

.descriptionbox-description p {
    font-size: 16px;
    line-height: 1.5;
    color: #3c3c3c;
}

/* Optional: Adding a bold header style if you use <span> or <strong> for categories */
.descriptionbox-description p b {
    display: block;
    margin-top: 10px;
    color: #1c1c1c;
}