.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    padding-top: 50px; /* Added some breathing room at the top */
}

.footer-logo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.footer-logo p {
    color: #383838;
    font-size: 46px;
    font-weight: 700;
}

.footer-links {
    display: flex;
    list-style: none;
    gap: 50px;
    color: #252525;
    font-size: 20px;
}

.footer-links li {
    cursor: pointer;
}

/* The wrapper for all social icons */
.footer-social-container {
    display: flex;
    flex-direction: row;    /* This puts them in a line */
    justify-content: center; /* Centers the line in the middle */
    align-items: center;
    gap: 20px;              /* Space between each icon box */
    margin-top: 10px;
}

/* The individual square boxes */
.footer-icons-container {
    padding: 10px;
    background: #fbfbfb;
    border: 1px solid #cbcbcb;
    display: flex;          /* Centers the image inside the box */
    justify-content: center;
    align-items: center;
    border-radius: 4px;
}

.footer-icons-container img {
    width: 24px;            /* Keeps the icons uniform */
    height: 24px;
    object-fit: contain;
}

.footer-copyright {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 100%;
    margin-bottom: 30px;
    color: #1a1a1a;
    font-size: 20px;
}

.footer-copyright hr {
    width: 80%;
    border: none;
    border-radius: 10px;
    height: 3px;
    background: #c7c7c7;
}