.relatedproducts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    height: 90vh; /* Adjust height as needed */
    margin-bottom: 100px;
}

.relatedproducts h1 {
    color: #171717;
    font-size: 50px;
    font-weight: 600;
}

.relatedproducts hr {
    width: 200px;
    height: 6px;
    border-radius: 10px;
    background: #252525;
}

.relatedproducts-item {
    display: flex;
    margin-top: 50px;
    gap: 30px;
}

/* Optional: If you want to handle responsive screens later */
@media (max-width: 1280px) {
    .relatedproducts-item {
        gap: 20px;
    }
}